<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaah</title>
  </head>
  <body>
    <nav>
      <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <h1> teh home page </h1>
    <h2> big map here. left-aligned </h2>
    <h3> search features to the right side of the map with some user inputs, maybe dropdowns, maybe sliders, etc.</h3>
    <div>
      <form method="POST" action="IDK_WHAT_TO_PUT_HERE">
			<label for="grocery">Select Grocery:</label>
			   <select id="grocery" name="grocery">
           <option value="apples">Apples</option>
           <option value="bananas">Bananas</option>
           <option value="beef">Beef</option>
           <option value="bread">Bread</option>
           <option value="cheese">Cheese</option>
           <option value="chicken">Chicken</option>
           <option value="eggs">Eggs</option>
           <option value="lettuce">Lettuce</option>
           <option value="milk">Milk</option>
           <option value="onions">Onions</option>
           <option value="oranges">Oranges</option>
           <option value="potatoes">Potatoes</option>
           <option value="rice">Rice</option>
           <option value="tomatoes">TOMATOESSSSSSS!!!!!!!!!!</option>
				 </select>
       <input type="submit" value="Submit">
       </form>
		</div>
  </body>
</html>
